/* button.slick-prev {
  left: 92%;
  top: 87%;
  z-index: 1;
}

button.slick-next {
  left: 95%;
  top: 87%;
  z-index: 1;
}

button.slick-prev::before {
  background-image: url("./arrow.png");
  background-size: 30px 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
  rotate: 180deg;
}

button.slick-next::before {
  background-image: url("./arrow.png");
  background-size: 30px 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
}

@media only screen and (max-width: 600px) {
  button.slick-prev {
    left: 79%;
    top: 90%;
    z-index: 1;
  }

  button.slick-next {
    left: 88%;
    top: 90%;
    z-index: 1;
  }
} */

.newsSwiper {
  width: 650px;
  height: 397px;
  border-radius: 20px;
  left: -0px;
  top: 0;
  margin-bottom: 20px;
}

.newsSwiper .swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
}

.newsSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .newsSwiper {
    width: 350px;
    height: 310px;
    border-radius: 20px;
    left: -0px;
    top: 0;
  }
}
